<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Id='*'
			Name='LeechCraft'
			Language='1033'
			Version='0.4.85'
			Manufacturer='Deviant Soft'
			UpgradeCode='B8A483B3-66C1-4352-B399-4A694C305388'>
		<Package Compressed='yes'
				Manufacturer='Deviant Soft'
				Description='Installs LeechCraft' />
		<Media Id='1'
				Cabinet='leechcraft.cab'
				EmbedCab='yes' />
		
		<!-- Directory structure -->
		<Directory Id='TARGETDIR'
				Name='SourceDir'>
			<Directory Id='ProgramFilesFolder'>
				<Directory Id='DIR_LeechCraft'
						Name='LeechCraft' />
			<Directory Id='ProgramMenuFolder' />
			</Directory>
		</Directory>
		
		<!-- Feature tree -->
		<Feature Id='CoreBinaries'
				Title='Core Binaries'
				Level='1'
				Absent='disallow'>
			<ComponentRef Id='CMP_leechcraft_exe' />
			<ComponentRef Id='CMP_LeechCraftShortcut' />
		</Feature>
	</Product>
</Wix>